@import './colors';

body {
  background-color: $background;
  font-family: 'Roboto Slab', serif;
}
.eat-card {
  width: 450px;
  margin: 15px 15px 15px 15px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  background-color: $eat;
}
.fight-card {
  width: 450px;
  margin: 15px 15px 15px 15px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  background-color: $fight;
}
.play-card {
  width: 450px;
  margin: 15px 15px 15px 15px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  background-color: $play;
}
.sleep-card {
  width: 450px;
  margin: 15px 15px 15px 15px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  background-color: $sleep;
}

#app {
  display: flex;
  flex-flow: row wrap;
  max-width: 1920px;
  margin: 0 auto;
  justify-content: center;
}

#pet {
margin: 15px 15px 15px;

}
.vladimir {
  flex-flow: row;
  align-items: center;
  align-self: center;
  float: right;
  text-align: center;
  
}
.putin {
    width: 200px;
    border-radius: 10px; 
}

.button {
  background-color:$background; 
  border: none;
  border-radius: 10px;
  margin: 10px;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  align-self: center;
  font-size: 14px;
}


