@import './_colors';
@import './_variables';


body {
  background-color: $background;
  font-family: 'Roboto Slab', serif;
}
.eat-card {
  width: 330px;
  margin: 15px 15px 15px 15px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  background-color: $eat;
  display: flex;
  flex-direction: column;
}
.fight-card {
  width: 330px;
  margin: 15px 15px 15px 15px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  background-color: $fight;
  display: flex;
  flex-direction: column;
}
.play-card {
  width: 330px;
  margin: 15px 15px 15px 15px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  background-color: $play;
  display: flex;
  flex-direction: column;
}
.sleep-card {
  width: 330px;
  margin: 15px 15px 15px 15px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  background-color: $sleep;
  display: flex;
  flex-direction: column;
}

#app {
  display: flex;
  flex-flow: row wrap;
  max-width: 1920px;
  margin: 0 auto;
  justify-content: center;
}

#pet {
margin-top: 5px;
padding-top: 5px;
width: 100%;

}
.vladimir {
  flex-flow: row;
  align-items: center;
  align-self: center;
  text-align: center;
  margin-top: 0px;
  
}
.putin {
    width: 200px;
    border-radius: 10px; 
}

.button {
  background-color: rgb(139, 226, 139); 
  border: none;
  border-radius: 10px;
  margin: 10px;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  
  font-size: 14px;
}

.eat-card {
  align-content: center;
}

.fight-card {
  align-content: center;
}

.play-card {
  align-content: center;
}

.sleep-card {
  align-content: center;
}

#fullScore {
  font-weight: bold;
}
#funScore {
  font-weight: bold;
}
#strengthScore {
  font-weight: bold;
}

#sleepScore {
  font-weight: bold;
}

.button-wrap {
  align-self: center;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

h3 {
  margin-top: 5px;
}
