body {
  background-color: aqua;
}
.card{
  width: 500px;
  margin: 0 auto;
}
#app {
  display: flex;
  flex-flow: row wrap;
  max-width: 1920px;
  margin: 0 auto;
  justify-content: center;
}

#pet{
margin:0 auto;
display:flex;
}
.vladimir {
  margin: auto;
  img {
    width: 50px;
    
  }
  
}